/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #ffffff;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #4d4d4c;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #8e908c;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #ffffff;
  list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #718c00;
  }

  /* keyword */

  .kwd {
    color: #8959a8;
  }

  /* comment */

  .com {
    color: #8e908c;
  }

  /* type name */

  .typ {
    color: #4271ae;
  }

  /* literal value */

  .lit {
    color: #f5871f;
  }

  /* punctuation */

  .pun {
    color: #4d4d4c;
  }

  /* lisp open bracket */

  .opn {
    color: #4d4d4c;
  }

  /* lisp close bracket */

  .clo {
    color: #4d4d4c;
  }

  /* markup tag name */

  .tag {
    color: #c82829;
  }

  /* markup attribute name */

  .atn {
    color: #f5871f;
  }

  /* markup attribute value */

  .atv {
    color: #3e999f;
  }

  /* declaration */

  .dec {
    color: #f5871f;
  }

  /* variable name */

  .var {
    color: #c82829;
  }

  /* function name */

  .fun {
    color: #4271ae;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Open Sans", "Noto Sans", "Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}
p {
  margin: 0;
}
.button {
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}
.primary-button {
  font-weight: lighter;
  min-width: 80px;
  display: inline-block;
  box-sizing: border-box;
  line-height: 30px;
  height: 32px;
  padding: 0 20px;
  text-align: center;
  background-color: #48B1FC;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #48B1FC;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
  font-size: 12px;
}
.primary-button:hover {
  background-color: #f0f0f0;
}
.primary-button:hover {
  background-color: #4192ba;
  border-color: #4192ba;
}
.text-field {
  display: inline-block;
  box-sizing: border-box;
  width: 120px;
  line-height: 30px;
  height: 32px;
  padding: 0 4px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.08);
  padding: 0 5px;
  font-size: 12px;
}
.text-field::-webkit-input-placeholder {
  color: #c0c0c0;
}
.text-field.full-width {
  display: block;
  width: 100%;
}
.text-field.multi-line {
  display: block;
  line-height: 24px;
  padding: 3px 5px;
  height: 80px;
}
.text-field:focus {
  outline: none;
  border: 1px solid #48B1FC;
  box-shadow: none;
}
.text-field:focus::-webkit-input-placeholder {
  opacity: 0;
}
.text-field.disable {
  background-color: #f2f2f2;
  box-shadow: none;
}
.text-field.disable:focus {
  outline: none;
  border: 1px solid #d0d0d0;
}
.text-field.disable:focus::-webkit-input-placeholder {
  opacity: 1;
}
.hint {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.38);
}
.error-hint {
  font-size: 10px;
  color: #ff5a59;
}
.hint-bar {
  height: 24px;
}
.hint-bar .error-hint,
.hint-bar hint {
  height: 24px;
  line-height: 24px;
  color: #ff5a59;
}
.dialog {
  width: 512px;
  background-color: #FFF;
  border-radius: 2px;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.dialog.expand {
  margin: 60px 0;
  -ms-flex: 1;
  flex: 1;
  width: auto;
}
.dialog > .title-area {
  padding: 16px;
  border-bottom: 1px solid #eaeaea;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.dialog > .title-area .title {
  line-height: 24px;
  height: 24px;
  font-size: 18px;
  color: #303030;
}
.dialog > .title-area .dialog-close-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url("../resource/image/dialog-close.png");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7;
}
.dialog > .title-area .dialog-close-button:hover {
  opacity: 1;
}
.dialog > .content-area {
  padding: 32px 32px 56px 32px;
  -ms-flex: 1;
  flex: 1;
}
.dialog > .content-area .text-field + .text-field {
  margin-top: 16px;
}
.dialog > .action-area {
  border-top: 1px solid #eaeaea;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
}
.dialog > .action-area .button,
.dialog > .action-area .primary-button + .button,
.dialog > .action-area .primary-button {
  margin-left: 16px;
}
.main-entry {
  height: 100%;
  overflow: auto;
}
.main-entry .hero-banner-area {
  height: 640px;
  color: #fff;
  position: relative;
}
.main-entry .hero-banner-area .hero-banner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-entry .hero-banner-area .hero-banner .banner-img {
  display: block;
  width: 100%;
  height: auto;
  min-width: 1400px;
}
.main-entry .hero-banner-area .banner-panel {
  position: relative;
  z-index: 2;
  margin-top: 200px;
}
.main-entry .hero-banner-area .banner-panel .slogan {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}
.main-entry .hero-banner-area .banner-panel .slogan-detail {
  font-size: 16px;
  line-height: 48px;
  padding-bottom: 32px;
}
.main-entry .hero-banner-area .banner-panel .button-area {
  display: -ms-flexbox;
  display: flex;
}
.main-entry .hero-banner-area .banner-panel .button-area .started-button {
  width: 200px;
  height: 48px;
  background: #fff;
  line-height: 48px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;
}
.main-entry .hero-banner-area .banner-panel .button-area .started-button:hover {
  background: #efefef;
}
.main-entry .hero-banner-area .banner-panel .button-area .download-button {
  margin: 0 20px;
  width: 200px;
  height: 48px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  box-sizing: border-box;
  color: #fff;
  transition: all 0.3s;
}
.main-entry .hero-banner-area .banner-panel .button-area .download-button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.main-entry .hero-banner-area .banner-panel .button-area .download-button .primary-text {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.main-entry .hero-banner-area .banner-panel .button-area .download-button .secondary-text {
  font-size: 14px;
  line-height: 16px;
}
.main-entry .hero-banner-area .banner-panel .button-area iframe {
  margin-left: 16px;
  margin-top: 20px;
}
.main-entry .feature-area .feature-panel {
  height: 640px;
}
.main-entry .feature-area .feature-panel .center-block {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-entry .feature-area .feature-panel .center-block .left-area {
  width: 54%;
  height: 100%;
  box-sizing: border-box;
}
.main-entry .feature-area .feature-panel .center-block .right-area {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
}
.main-entry .feature-area .feature-panel .center-block .img-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-entry .feature-area .feature-panel .center-block .content-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-entry .feature-area .feature-panel .center-block .content-area .feature-icon {
  width: 40px;
  height: 40px;
  background-color: #ebf1f5;
  border-radius: 4px;
}
.main-entry .feature-area .feature-panel .center-block .content-area .feature-title {
  font-size: 24px;
  font-weight: bolder;
  color: #1d4866;
  line-height: 72px;
}
.main-entry .feature-area .feature-panel .center-block .content-area .feature-text {
  font-size: 18px;
  line-height: 40px;
  color: #909090;
  padding-top: 32px;
  border-top: 1px solid #eaeaea;
  margin-top: 80px;
}
.main-entry .feature-area .feature-panel .center-block .content-area .feature-text a {
  font-size: 18px;
  color: #909090;
}
.main-entry .feature-area .feature-panel.three-dimensional .content-area .feature-icon {
  background-image: url("../resource/image/feature-icon/3d.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-entry .feature-area .feature-panel.extensible-mobile {
  display: none;
}
.main-entry .feature-area .feature-panel.extensible {
  background-color: #42526e;
}
.main-entry .feature-area .feature-panel.extensible .content-area {
  text-align: right;
}
.main-entry .feature-area .feature-panel.extensible .content-area .feature-icon {
  margin-left: auto;
  background-image: url("../resource/image/feature-icon/extensible.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-entry .feature-area .feature-panel.extensible .content-area .feature-title {
  color: #fff;
}
.main-entry .feature-area .feature-panel.extensible .content-area .feature-text {
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.main-entry .feature-area .feature-panel.extensible .content-area .feature-text a {
  color: #fff;
}
.main-entry .feature-area .feature-panel.performant .content-area .feature-icon {
  background-image: url("../resource/image/feature-icon/performant.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-entry .feature-area .feature-extensible-panel {
  height: 640px;
}
.main-entry .feature-area .feature-performant-panel {
  height: 640px;
}
.main-entry .github-area {
  background-color: #42526e;
  height: 240px;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-entry .github-area .logo {
  width: 120px;
  height: 120px;
  background: url("../resource/image/github.png") no-repeat center center;
}
.main-entry .github-area .content-area {
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  line-height: 48px;
  padding-left: 64px;
  margin-left: 64px;
}
.main-entry .github-area .content-area .title {
  font-size: 32px;
  font-weight: bold;
}
.main-entry .github-area .content-area .intro {
  font-size: 20px;
}
.main-entry .github-area .content-area .intro .link {
  color: #fff;
  margin-right: 6px;
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
}
.main-entry .github-area .content-area .intro .link:before {
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  background: #fff;
  bottom: -3px;
  left: 0;
  transition: all 0.3s;
}
.main-entry .github-area .content-area .intro .link:hover {
  color: #48B1FC;
}
.main-entry .github-area .content-area .intro .link:hover:before {
  background: #48B1FC;
  transform: translateY(2px);
}
.main-entry .secondary-feature-area {
  padding: 50px 0 150px 0;
}
.main-entry .secondary-feature-area .secondary-feature-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-entry .secondary-feature-area .secondary-feature-item {
  margin: 50px;
  width: 320px;
  height: 320px;
  text-align: center;
}
.main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-icon {
  width: 100px;
  height: 100px;
  background-color: #fff;
  margin: 60px auto 0 auto;
}
.main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-icon.item-1 {
  background: url("../resource/image/feature-icon/1.png") no-repeat center center;
  background-size: cover;
}
.main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-icon.item-2 {
  background: url("../resource/image/feature-icon/2.png") no-repeat center center;
  background-size: cover;
}
.main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-icon.item-3 {
  background: url("../resource/image/feature-icon/3.png") no-repeat center center;
  background-size: cover;
}
.main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-icon.item-4 {
  background: url("../resource/image/feature-icon/4.png") no-repeat center center;
  background-size: cover;
}
.main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-icon.item-5 {
  background: url("../resource/image/feature-icon/5.png") no-repeat center center;
  background-size: cover;
}
.main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-icon.item-6 {
  background: url("../resource/image/feature-icon/6.png") no-repeat center center;
  background-size: cover;
}
.main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-title {
  color: #1d4866;
  font-size: 20px;
  line-height: 72px;
  font-weight: bold;
}
.main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-text {
  color: #909090;
  font-size: 14px;
  line-height: 24px;
}
@media (max-width: 1366px) {
  .main-entry .feature-area .feature-panel .center-block .img-area img {
    width: 100%;
  }
  .main-entry .feature-area .feature-panel .center-block .content-area .feature-text {
    font-size: 16px;
  }
  .main-entry .feature-area .feature-panel .center-block .content-area .feature-text a {
    font-size: 16px;
  }
  .main-entry .feature-area .feature-panel.performant .img-area img {
    width: 120%;
  }
}
@media (max-width: 420px) and (min-width: 310px) {
  .main-entry {
    overflow-x: hidden;
  }
  .main-entry .hero-banner-area {
    height: auto;
    padding-bottom: 80px;
  }
  .main-entry .hero-banner-area .hero-banner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main-entry .hero-banner-area .banner-panel {
    margin-top: 108px;
    text-align: center;
  }
  .main-entry .hero-banner-area .banner-panel .slogan {
    text-align: center;
  }
  .main-entry .hero-banner-area .banner-panel .slogan-detail {
    text-align: center;
    padding-bottom: 24px;
  }
  .main-entry .hero-banner-area .banner-panel .button-area {
    display: block;
  }
  .main-entry .hero-banner-area .banner-panel .button-area .started-button {
    margin: 0 auto;
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .main-entry .hero-banner-area .banner-panel .button-area .download-button {
    margin: 0 auto;
    width: 160px;
    height: 40px;
  }
  .main-entry .hero-banner-area .banner-panel .button-area .download-button .primary-text {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 2px;
  }
  .main-entry .hero-banner-area .banner-panel .button-area .download-button .secondary-text {
    font-size: 12px;
    line-height: 14px;
  }
  .main-entry .hero-banner-area .banner-panel .button-area iframe {
    margin-left: 8px;
    margin-right: 8px;
  }
  .main-entry .feature-area .feature-panel {
    height: auto;
  }
  .main-entry .feature-area .feature-panel .center-block {
    padding: 48px 0;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .main-entry .feature-area .feature-panel .center-block .left-area {
    width: auto;
    height: auto;
    box-sizing: border-box;
  }
  .main-entry .feature-area .feature-panel .center-block .right-area {
    width: auto;
    height: auto;
    box-sizing: border-box;
  }
  .main-entry .feature-area .feature-panel .center-block .img-area {
    width: 90%;
    margin: 0 auto;
  }
  .main-entry .feature-area .feature-panel .center-block .img-area img {
    margin: 0 auto;
  }
  .main-entry .feature-area .feature-panel .center-block .content-area {
    display: -ms-flexbox;
    display: flex;
    margin: 20px 8px 0 8px;
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .main-entry .feature-area .feature-panel .center-block .content-area .feature-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 16px;
  }
  .main-entry .feature-area .feature-panel .center-block .content-area .feature-title {
    font-size: 24px;
    line-height: 72px;
    padding-left: 50px;
  }
  .main-entry .feature-area .feature-panel .center-block .content-area .feature-text {
    font-size: 14px;
    line-height: 28px;
    padding-top: 8px;
    margin-top: 0px;
  }
  .main-entry .feature-area .feature-panel .center-block .content-area .feature-text a {
    font-size: 14px;
  }
  .main-entry .feature-area .feature-panel.three-dimensional .content-area .feature-icon {
    background-image: url("../resource/image/feature-icon/3d@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-entry .feature-area .feature-panel.extensible {
    display: none;
  }
  .main-entry .feature-area .feature-panel.extensible-mobile {
    display: block;
    background-color: #42526e;
  }
  .main-entry .feature-area .feature-panel.extensible-mobile .img-area {
    width: 65%;
  }
  .main-entry .feature-area .feature-panel.extensible-mobile .content-area .feature-icon {
    margin-left: auto;
    background-image: url("../resource/image/feature-icon/extensible@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-entry .feature-area .feature-panel.extensible-mobile .content-area .feature-title {
    color: #fff;
  }
  .main-entry .feature-area .feature-panel.extensible-mobile .content-area .feature-text {
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .main-entry .feature-area .feature-panel.extensible-mobile .content-area .feature-text a {
    color: #fff;
  }
  .main-entry .feature-area .feature-panel.performant .img-area {
    width: 100%;
  }
  .main-entry .feature-area .feature-panel.performant .img-area img {
    width: 100%;
  }
  .main-entry .feature-area .feature-panel.performant .content-area .feature-icon {
    background-image: url("../resource/image/feature-icon/performant@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-entry .github-area {
    height: auto;
    display: block;
    position: relative;
  }
  .main-entry .github-area .logo {
    width: 48px;
    height: 48px;
    background: url("../resource/image/github.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 32px;
    left: 24px;
  }
  .main-entry .github-area .content-area {
    border-left: none;
    padding-left: 0px;
    margin-left: 0px;
    padding: 32px 24px;
  }
  .main-entry .github-area .content-area .title {
    font-size: 20px;
    font-weight: bold;
    line-height: 48px;
    padding-left: 64px;
    margin-bottom: 16px;
  }
  .main-entry .github-area .content-area .intro {
    font-size: 14px;
    line-height: 24px;
  }
  .main-entry .github-area .content-area .intro .link {
    color: #fff;
    margin-right: 0px;
    text-decoration: underline;
  }
  .main-entry .github-area .content-area .intro .link:before {
    display: none;
  }
  .main-entry .secondary-feature-area {
    padding: 40px 0 56px 0;
  }
  .main-entry .secondary-feature-area .secondary-feature-panel {
    display: block;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .main-entry .secondary-feature-area .secondary-feature-item {
    margin: 24px;
    width: auto;
    height: auto;
    min-height: 108px;
    text-align: left;
    position: relative;
    padding-left: 80px;
  }
  .main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-icon {
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 4px;
    left: 0;
  }
  .main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-title {
    color: #1d4866;
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
  }
  .main-entry .secondary-feature-area .secondary-feature-item .secondary-feature-text {
    color: #909090;
    font-size: 12px;
    line-height: 24px;
  }
}
.download-entry {
  height: 100%;
  overflow: auto;
}
.download-entry .hero-banner-area {
  background-color: #42526e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
.download-entry .hero-banner-area .banner-panel {
  margin-top: 240px;
  text-align: center;
}
.download-entry .hero-banner-area .banner-panel .slogan {
  font-size: 24px;
  line-height: 64px;
  font-weight: bolder;
}
.download-entry .hero-banner-area .banner-panel .intro {
  margin-top: 24px;
  font-size: 18px;
  line-height: 32px;
}
.download-entry .doc-area {
  padding: 32px 0 96px 0;
  width: 1000px;
  margin: 0 auto;
}
.support-entry {
  height: 100%;
  overflow: auto;
}
.support-entry .header-area {
  background-color: #42526e;
}
.support-entry .hero-banner-area {
  background-image: url("../resource/image/club-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.support-entry .hero-banner-area .center-block {
  box-sizing: border-box;
  padding: 96px 20px;
}
.support-entry .hero-banner-area .title {
  font-size: 24px;
  line-height: 64px;
  font-weight: bold;
  color: #1d4866;
}
.support-entry .hero-banner-area .intro {
  font-size: 16px;
  line-height: 96px;
  color: #303030;
}
.support-entry .hero-banner-area .item {
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}
.support-entry .hero-banner-area .item .icon {
  width: 24px;
  height: 24px;
}
.support-entry .hero-banner-area .item .icon.demo {
  background: url("../resource/image/feature-icon/demo.png") no-repeat center center;
  background-size: cover;
}
.support-entry .hero-banner-area .item .icon.train {
  background: url("../resource/image/feature-icon/train.png") no-repeat center center;
  background-size: cover;
}
.support-entry .hero-banner-area .item .icon.support {
  background: url("../resource/image/feature-icon/support.png") no-repeat center center;
  background-size: cover;
}
.support-entry .hero-banner-area .item .icon.bug-fix {
  background: url("../resource/image/feature-icon/bug-fix.png") no-repeat center center;
  background-size: cover;
}
.support-entry .hero-banner-area .item .item-detail {
  margin-left: 12px;
}
.support-entry .hero-banner-area .item .item-detail .item-title {
  font-size: 16px;
  line-height: 24px;
  color: #303030;
}
.support-entry .hero-banner-area .item .item-detail .item-intro {
  margin-top: 4px;
  font-size: 12px;
  line-height: 24px;
  color: #909090;
}
.support-entry .hero-banner-area .raised-button {
  cursor: pointer;
  margin: 16px auto 0 auto;
  background-image: linear-gradient(-45deg, #48B1FC 0%, #44EAC3 100%);
  border-radius: 4px;
  font-size: 14px;
  color: #FFF;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 160px;
  box-shadow: 0 8px 48px 0 rgba(72, 176, 252, 0.5);
  transition: all 0.3s;
}
.support-entry .hero-banner-area .raised-button:hover {
  transform: translateY(1px);
  box-shadow: 0 6px 32px 0 rgba(72, 176, 252, 0.4);
}
.support-entry .develop-area {
  height: 640px;
  background-image: url("../resource/image/develop-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.support-entry .develop-area .develop-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.support-entry .develop-area .left-area,
.support-entry .develop-area .right-area {
  width: 45%;
  color: #fff;
  text-align: center;
}
.support-entry .develop-area .left-area .icon,
.support-entry .develop-area .right-area .icon {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
.support-entry .develop-area .left-area .icon.plugin,
.support-entry .develop-area .right-area .icon.plugin {
  background: url("../resource/image/feature-icon/plugin-develop.png") no-repeat center center;
}
.support-entry .develop-area .left-area .icon.custom,
.support-entry .develop-area .right-area .icon.custom {
  background: url("../resource/image/feature-icon/custom-develop.png") no-repeat center center;
}
.support-entry .develop-area .left-area .title,
.support-entry .develop-area .right-area .title {
  font-size: 24px;
  font-weight: bold;
  line-height: 96px;
}
.support-entry .develop-area .left-area .detail,
.support-entry .develop-area .right-area .detail {
  font-size: 14px;
  line-height: 32px;
}
.support-entry .develop-area .devide-area {
  width: 10%;
  height: 200px;
}
.support-entry .develop-area .devide-area .devide-line {
  height: 200px;
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}
.support-entry .contact-area {
  height: 640px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
.support-entry .contact-area .title {
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  color: #1d4866;
  text-align: center;
  margin-bottom: 40px;
}
.support-entry .contact-area .card-area {
  display: -ms-flexbox;
  display: flex;
}
.support-entry .contact-area .card-area .card {
  margin: 20px;
  width: 360px;
  height: 240px;
  padding-left: 64px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 20px 64px 0 rgba(18, 40, 51, 0.04);
  border-radius: 2px;
}
.support-entry .contact-area .card-area .card .label {
  font-size: 16px;
  line-height: 40px;
  color: #909090;
}
.support-entry .contact-area .card-area .card .detail {
  font-size: 18px;
  line-height: 48px;
  color: #303030;
}
.support-entry .contact-area .card-area .card.phone {
  background-image: url("../resource/image/phone.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.support-entry .contact-area .card-area .card.mail {
  background-image: url("../resource/image/mail.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.support-entry .contact-area .card-area .card.qq {
  background-image: url("../resource/image/qq.png");
  background-repeat: no-repeat;
  background-position: right center;
}
@media (max-width: 420px) and (min-width: 310px) {
  .support-entry {
    overflow-x: hidden;
  }
  .support-entry .hero-banner-area {
    background-color: #fff;
    background-image: url("../resource/image/club-banner-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
  }
  .support-entry .hero-banner-area .center-block {
    box-sizing: border-box;
    padding: 32px 8px 48px 8px;
  }
  .support-entry .hero-banner-area .title {
    font-size: 18px;
    line-height: 40px;
    padding-bottom: 12px;
  }
  .support-entry .hero-banner-area .intro {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 16px;
  }
  .support-entry .hero-banner-area .item {
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 8px;
    position: relative;
  }
  .support-entry .hero-banner-area .item .icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .support-entry .hero-banner-area .item .item-detail {
    margin-left: 0px;
  }
  .support-entry .hero-banner-area .item .item-detail .item-title {
    padding-left: 32px;
    font-size: 14px;
    line-height: 24px;
  }
  .support-entry .hero-banner-area .item .item-detail .item-intro {
    margin: 6px 0 8px 0;
    font-size: 12px;
    line-height: 18px;
  }
  .support-entry .hero-banner-area .raised-button {
    margin-top: 10px;
  }
  .support-entry .develop-area {
    height: auto;
    background-image: url("../resource/image/develop-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .support-entry .develop-area .develop-panel {
    display: block;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    padding: 32px 0;
  }
  .support-entry .develop-area .left-area,
  .support-entry .develop-area .right-area {
    width: auto;
    color: #fff;
    text-align: center;
  }
  .support-entry .develop-area .left-area .icon,
  .support-entry .develop-area .right-area .icon {
    display: none;
    width: 48px;
    height: 48px;
    margin: 0 auto;
  }
  .support-entry .develop-area .left-area .icon.plugin,
  .support-entry .develop-area .right-area .icon.plugin {
    background: url("../resource/image/feature-icon/plugin-develop.png") no-repeat center center;
  }
  .support-entry .develop-area .left-area .icon.custom,
  .support-entry .develop-area .right-area .icon.custom {
    background: url("../resource/image/feature-icon/custom-develop.png") no-repeat center center;
  }
  .support-entry .develop-area .left-area .title,
  .support-entry .develop-area .right-area .title {
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
  }
  .support-entry .develop-area .left-area .detail,
  .support-entry .develop-area .right-area .detail {
    font-size: 12px;
    line-height: 28px;
    color: #eaeaea;
  }
  .support-entry .develop-area .devide-area {
    width: auto;
    height: 1px;
    padding: 24px 0;
  }
  .support-entry .develop-area .devide-area .devide-line {
    height: 1px;
    width: 200px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
  }
  .support-entry .contact-area {
    height: auto;
    padding: 32px 0;
  }
  .support-entry .contact-area .title {
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 16px;
  }
  .support-entry .contact-area .card-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }
  .support-entry .contact-area .card-area .card {
    margin: 0 0 20px 0;
    width: 300px;
    height: 160px;
    padding-left: 48px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 20px 64px 0 rgba(18, 40, 51, 0.04);
    border-radius: 2px;
  }
  .support-entry .contact-area .card-area .card .label {
    font-size: 16px;
    line-height: 40px;
    color: #909090;
  }
  .support-entry .contact-area .card-area .card .detail {
    font-size: 18px;
    line-height: 48px;
    color: #303030;
  }
  .support-entry .contact-area .card-area .card.phone {
    background-image: url("../resource/image/phone.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }
  .support-entry .contact-area .card-area .card.mail {
    background-image: url("../resource/image/mail.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }
  .support-entry .contact-area .card-area .card.qq {
    background-image: url("../resource/image/qq.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }
}
.plugins-entry {
  height: 100%;
  overflow: auto;
}
.plugins-entry .header-area {
  background-color: #42526e;
}
.plugins-entry .option-area {
  height: 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  background: #f8f8f8;
}
.plugins-entry .tab-panel {
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}
.plugins-entry .tab-panel .tab-item {
  margin-right: 32px;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.3s;
  font-weight: bold;
  cursor: pointer;
}
.plugins-entry .tab-panel .tab-item:hover {
  color: #606060;
}
.plugins-entry .tab-panel .tab-item a {
  color: #48B1FC;
  transition: color 0.3s;
  text-decoration: none;
  position: relative;
  display: block;
  line-height: 24px;
}
.plugins-entry .tab-panel .tab-item a:before {
  content: "";
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  background: #48B1FC;
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
}
.plugins-entry .tab-panel .tab-item a:hover:before {
  transform: scaleX(1);
}
.plugins-entry .plugin-list-area {
  padding: 48px 0;
}
.plugins-entry .plugin-list-area.alt-area {
  background: #f8f8f8;
}
.plugins-entry .plugin-list-area.bottom-space {
  margin-bottom: 120px;
}
.plugins-entry .plugin-list-area .title-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  -ms-flex-align: center;
  align-items: center;
}
.plugins-entry .plugin-list-area .title-panel .title {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #1d4866;
}
.plugins-entry .plugin-list-area .title-panel .button-panel {
  font-size: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 8px;
}
.plugins-entry .plugin-list-area .title-panel .button-panel .button {
  width: 120px;
  line-height: 28px;
  height: 32px;
  box-sizing: border-box;
  transition: all 0.3s;
}
.plugins-entry .plugin-list-area .title-panel .button-panel .submit {
  color: #48B1FC;
  border: 2px solid #48B1FC;
  margin-right: 8px;
}
.plugins-entry .plugin-list-area .title-panel .button-panel .submit a {
  color: #48B1FC;
  text-decoration: none;
}
.plugins-entry .plugin-list-area .title-panel .button-panel .submit:hover {
  border: 2px solid #42a2e6;
  background: #fff;
}
.plugins-entry .plugin-list-area .title-panel .button-panel .submit:hover a {
  color: #42a2e6;
}
.plugins-entry .plugin-list-area .title-panel .button-panel .doc {
  border: 2px solid #777;
}
.plugins-entry .plugin-list-area .title-panel .button-panel .doc a {
  color: #777;
  text-decoration: none;
}
.plugins-entry .plugin-list-area .title-panel .button-panel .doc:hover {
  border: 2px solid #555;
  background: #fff;
}
.plugins-entry .plugin-list-area .title-panel .button-panel .doc:hover a {
  color: #555;
}
.plugins-entry .plugin-list-area .featured-plugin-list {
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.plugins-entry .plugin-list-area .plugin-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}
@media screen {
  .plugins-entry .plugin-list-area .plugin-list {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 590px) {
  .plugins-entry .plugin-list-area .plugin-list {
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item {
  list-style: none;
  width: 240px;
  box-shadow: 0 6px 48px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-right: 20px;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item a {
  text-decoration: none;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item .img-panel {
  height: 160px;
  position: relative;
  overflow: hidden;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item .img-panel .mask {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item .img-panel .mask .author {
  line-height: 72px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item .img-panel .mask .author .avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0 8px;
  background-repeat: no-repeat;
  background-position: center center;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item .img-panel .mask .author .author-name a {
  color: #fff;
  font-size: 14px;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item .img-panel .mask .author .author-name a:hover {
  text-decoration: underline;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item .detail-panel {
  background: #fff;
  padding: 4px 8px 8px 8px;
  width: 100%;
  box-sizing: border-box;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item .detail-panel .plugin-name {
  font-size: 14px;
  line-height: 28px;
  color: #303030;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item .detail-panel .plugin-name a {
  color: #303030;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item .detail-panel .plugin-name a:hover {
  text-decoration: underline;
}
.plugins-entry .plugin-list-area .plugin-list .plugin-item .detail-panel .intro {
  font-size: 12px;
  line-height: 20px;
  color: #909090;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery-entry {
  height: 100%;
  overflow: auto;
}
.gallery-entry .header-area {
  background-color: #42526e;
}
.gallery-entry .feature-demo-panel {
  margin-top: 48px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.gallery-entry .feature-demo-panel .title-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  -ms-flex-align: center;
  align-items: center;
}
.gallery-entry .feature-demo-panel .title-panel .title {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #1d4866;
}
.gallery-entry .feature-demo-panel .title-panel .button-panel {
  font-size: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 8px;
}
.gallery-entry .feature-demo-panel .title-panel .button-panel .button {
  width: 120px;
  line-height: 28px;
  height: 32px;
  box-sizing: border-box;
  transition: all 0.3s;
}
.gallery-entry .feature-demo-panel .title-panel .button-panel .submit {
  border: 2px solid #48B1FC;
  margin-right: 8px;
}
.gallery-entry .feature-demo-panel .title-panel .button-panel .submit a {
  color: #48B1FC;
  text-decoration: none;
}
.gallery-entry .feature-demo-panel .title-panel .button-panel .submit:hover {
  border: 2px solid #42a2e6;
  background: #fff;
}
.gallery-entry .feature-demo-panel .title-panel .button-panel .submit:hover a {
  color: #42a2e6;
}
.gallery-entry .feature-demo-panel .demo-area {
  margin-left: 39px;
  width: 49%;
  position: relative;
}
.gallery-entry .feature-demo-panel .demo-area .img-area {
  height: 400px;
  position: relative;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.gallery-entry .feature-demo-panel .demo-area .img-area .img {
  display: block;
}
.gallery-entry .feature-demo-panel .demo-area .img-area .mask {
  transition: all 0.3s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.gallery-entry .feature-demo-panel .demo-area .img-area .mask .overview-button {
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.3s;
  text-decoration: none;
}
.gallery-entry .feature-demo-panel .demo-area .img-area .mask .overview-button a {
  display: block;
  width: 160px;
  height: 40px;
  text-decoration: none;
  color: #fff;
}
.gallery-entry .feature-demo-panel .demo-area .img-area .mask .overview-button:hover {
  background: #fff;
  color: #303030;
}
.gallery-entry .feature-demo-panel .demo-area .img-area .mask .overview-button:hover a {
  color: #303030;
}
.gallery-entry .feature-demo-panel .demo-area .detail {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  padding: 16px;
}
.gallery-entry .feature-demo-panel .demo-area .detail .demo-name {
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}
.gallery-entry .feature-demo-panel .demo-area .detail .intro {
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery-entry .feature-demo-panel .demo-area .detail .intro a {
  color: #fff;
}
.gallery-entry .feature-demo-panel .demo-area:hover .mask {
  opacity: 1;
}
.gallery-entry .feature-demo-panel .demo-area + .demo-area {
  margin-left: 1%;
}
.gallery-entry .all-demo-grid {
  margin-top: 48px;
  margin-bottom: 144px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.gallery-entry .all-demo-grid .title {
  width: 100%;
  margin-bottom: 0.95%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #1d4866;
}
.gallery-entry .all-demo-grid .demo-grid {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile {
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area {
  width: 430px;
  height: 270px;
  position: relative;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area .img {
  width: 100%;
  display: block;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area .mask {
  transition: all 0.3s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area .mask .overview-button {
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.3s;
  text-decoration: none;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area .mask .overview-button a {
  display: block;
  width: 160px;
  height: 40px;
  text-decoration: none;
  color: #fff;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area .mask .overview-button:hover {
  text-decoration: none;
  background: #fff;
  color: #303030;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area .mask .overview-button:hover a {
  color: #303030;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .detail {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  padding: 16px;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .detail .demo-name {
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .detail .intro {
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .detail .intro a {
  color: #fff;
}
.gallery-entry .all-demo-grid .demo-grid .demo-grid-tile:hover .mask {
  opacity: 1;
}
@media (max-width: 420px) and (min-width: 310px) {
  .gallery-entry {
    overflow-x: hidden;
  }
  .gallery-entry .feature-demo-panel {
    margin-top: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .gallery-entry .feature-demo-panel .title {
    width: 100%;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    color: #1d4866;
  }
  .gallery-entry .feature-demo-panel .demo-area {
    cursor: pointer;
    width: 100%;
    position: relative;
    margin-bottom: 12px;
  }
  .gallery-entry .feature-demo-panel .demo-area .img-area {
    height: 240px;
    position: relative;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  .gallery-entry .feature-demo-panel .demo-area .img-area .img {
    width: 100%;
    display: block;
  }
  .gallery-entry .feature-demo-panel .demo-area .detail {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    padding: 8px;
  }
  .gallery-entry .feature-demo-panel .demo-area .detail .demo-name {
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
  }
  .gallery-entry .feature-demo-panel .demo-area .detail .intro {
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #f0f0f0;
  }
  .gallery-entry .feature-demo-panel .demo-area .detail .intro a {
    color: #fff;
  }
  .gallery-entry .feature-demo-panel .demo-area + .demo-area {
    margin-left: 0;
  }
  .gallery-entry .all-demo-grid {
    margin-top: 32px;
    margin-bottom: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .gallery-entry .all-demo-grid .title {
    width: 100%;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    color: #1d4866;
  }
  .gallery-entry .all-demo-grid .demo-grid .demo-grid-tile {
    cursor: pointer;
    margin-right: 0;
    margin-bottom: 2%;
    position: relative;
  }
  .gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area {
    width: 100%;
  }
  .gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area .mask .overview-button {
    width: 80px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    transition: all 0.3s;
    text-decoration: none;
  }
  .gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area .mask .overview-button a {
    display: block;
    width: 80px;
    height: 24px;
    text-decoration: none;
    color: #fff;
  }
  .gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area .mask .overview-button:hover {
    background: #fff;
    color: #303030;
  }
  .gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .img-area .mask .overview-button:hover a {
    color: #303030;
  }
  .gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .detail {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    padding: 8px;
    transition: all 0.3s;
  }
  .gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .detail .demo-name {
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
  }
  .gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .detail .intro {
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #f0f0f0;
    transition: all 0.3s;
  }
  .gallery-entry .all-demo-grid .demo-grid .demo-grid-tile .detail .intro a {
    color: #fff;
  }
  .gallery-entry .all-demo-grid .demo-grid .demo-grid-tile:hover .detail {
    opacity: 0;
  }
}
body {
  background: #fdfdfd;
}
@media screen and (max-width: 1920px) {
  .center-block {
    width: 1440px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1600px) {
  .center-block {
    width: 1280px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1366px) {
  .center-block {
    width: 1000px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) and (min-width: 420px) {
  .center-block {
    width: auto;
    margin: 0 30px;
  }
}
@media screen and (max-width: 420px) and (min-width: 376px) {
  .center-block {
    width: auto;
    margin: 0 20px;
  }
}
@media screen and (max-width: 375px) and (min-width: 300px) {
  .center-block {
    width: auto;
    margin: 0 16px;
  }
}
.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 96px;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.header .title-panel {
  display: -ms-flexbox;
  display: flex;
}
.header .title-panel .logo {
  cursor: pointer;
  display: block;
  background-image: url("../resource/image/logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% 100%;
  height: 48px;
  width: 144px;
}
.header .title-panel .sub-title {
  margin-left: 16px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  padding-top: 18px;
}
.header .navigator {
  display: -ms-flexbox;
  display: flex;
}
.header .navigator .nav-item {
  margin-left: 30px;
  position: relative;
}
.header .navigator .nav-item .nav-title {
  padding: 0 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
  position: relative;
}
.header .navigator .nav-item .nav-title a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: 100%;
}
.header .navigator .nav-item .nav-title:before {
  content: '';
  height: 1px;
  width: 0;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transition: all 0.3s;
}
.header .navigator .nav-item .nav-title:hover {
  color: #ffffff;
}
.header .navigator .nav-item .nav-title:hover a {
  color: #ffffff;
}
.header .navigator .nav-item .nav-title:hover:before {
  left: 0;
  width: 100%;
}
.header .navigator .nav-item .nav-dropdown {
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.header .navigator .nav-item .nav-dropdown .nav-back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  transform: translateY(-100%);
  transition: all 0.2s;
  z-index: 1;
}
.header .navigator .nav-item .nav-dropdown .nav-section {
  transform: translateY(-300px);
  padding: 0 6px;
  line-height: 32px;
  transition: all 0.2s;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.header .navigator .nav-item .nav-dropdown .nav-section a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  z-index: 20;
  display: block;
  width: 100%;
  height: 100%;
}
.header .navigator .nav-item .nav-dropdown .nav-section:before {
  content: '';
  background-color: #fff;
  width: 100%;
  height: 32px;
  display: block;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  z-index: 2;
}
.header .navigator .nav-item .nav-dropdown .nav-section:hover {
  color: #ffffff;
}
.header .navigator .nav-item .nav-dropdown .nav-section:hover:before {
  opacity: 0.16;
}
.header .navigator .nav-item .nav-dropdown .nav-section:hover a {
  color: #ffffff;
}
.header .navigator .nav-item:hover .nav-dropdown .nav-back {
  transform: translateY(0);
}
.header .navigator .nav-item:hover .nav-dropdown .nav-section {
  transform: translateY(0);
}
.footer {
  height: 120px;
  color: #bfbfbf;
  font-size: 20px;
  line-height: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #42526e;
}
.markdown {
  line-height: 48px;
}
.markdown > h2 {
  font-size: 20px;
  line-height: 48px;
  color: #1d4866;
  font-weight: bolder;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 32px;
}
.markdown > p {
  color: #909090;
  font-size: 16px;
  line-height: 32px;
  margin: -8px 0 16px 0;
}
.markdown > ol {
  border-left: 2px solid #48B1FC;
  list-style: none;
  overflow: visible;
  counter-reset: li;
  padding: 0;
  margin-left: 9px;
}
.markdown > ol > li {
  color: #909090;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  padding-left: 17px;
  margin-bottom: 30px;
}
.markdown > ol > li:before {
  content: counter(li);
  counter-increment: li;
  display: block;
  position: absolute;
  top: -1px;
  left: -11px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #48B1FC;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: bolder;
  font-family: helvetica;
}
.markdown > ol > li > pre {
  padding: 16px;
  margin: 20px 0 0 0;
  border-radius: 2px;
  background: #f2f2f2;
}
.markdown > ol > li > a {
  color: #48B1FC;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #48B1FC;
}
.markdown > a {
  color: #48B1FC;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #48B1FC;
}
@media (max-width: 420px) and (min-width: 310px) {
  .header {
    height: 72px;
  }
  .header .logo {
    background-image: url("../resource/image/logo@2x.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 100%;
    width: 120px;
    height: 40px;
  }
  .header .navigator .nav-item {
    margin-left: 12px;
  }
  .header .navigator .nav-item .nav-title {
    padding: 0;
    color: #fff;
    font-weight: normal;
  }
  .header .navigator .nav-item .nav-title a {
    color: #fff;
    font-weight: normal;
  }
  .header .navigator .mobile-hide {
    display: none;
  }
  .footer {
    height: 72px;
    color: #bfbfbf;
    font-size: 16px;
    line-height: 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #42526e;
  }
}
